<div>
  <h1><%= @count %> results </h1>

  <ul>
    <% @results.each do |result| %>
    <li><%= result.name %>(<%= result.party %>) <br>
      <%= link_to result.website %>
    </li>
    <% end %>
  </ul>

</div>
