<div>
  <h1><%= @count %> results </h1>

  <ul>
    <% @results.each do |result| %>
    <li><%= link_to result.name, result.website %>(<%= result.party %>)
    <br>
    <%= link_to "News", legislators_path(result.id)%>
    <br>
    </li>
    <% end %>
  </ul>

</div>
